<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Trang Quản Trị Lienminh247</title>
    <!-- Bootstrap Core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <!-- MetisMenu CSS -->
    <link href="../vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
    <link href="~/Content/vendor/metisMenu/metisMenu.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="../dist/css/sb-admin-2.css" rel="stylesheet">
    <link href="~/Content/dist/css/sb-admin-2.css" rel="stylesheet" />
    <!-- Morris Charts CSS -->
    <link href="../vendor/morrisjs/morris.css" rel="stylesheet">
    <link href="~/Content/vendor/morrisjs/morris.css" rel="stylesheet" />
    <!-- Custom Fonts -->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/vendor/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index","Admin")">Lienminh247</a>
            </div>
            <!-- /.navbar-header -->
            <ul class="nav navbar-top-links navbar-right">
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>@Session["Username"] <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="@Url.Action("AdminAccount","Admin")"><i class="fa fa-user fa-fw"></i>Tài Khoản Admin</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="@Url.Action("Logout","Admin")"><i class="fa fa-sign-out fa-fw"></i>Đăng Xuất</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        @*<li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button">
                                        <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                            </div>
                                <!-- /input-group -->
                        </li>*@
                        <li id="admin">
                            <a href="@Url.Action("AdminAccount","Admin")"><i class="fa fa-adn fa-fw"></i>@Session["Username"]</a>
                        </li>
                        <li id="homepage">
                            <a href="@Url.Action("Index","TinTuc")"><i class="fa fa-home fa-fw"></i>Trang Chủ Lienminh247</a>
                        </li>
                        @if ("Leo Andres" == ViewBag.UN)
                        {   
                            <li id="adminpage">
                                <a href="@Url.Action("Admin","Admin")"><i class="fa fa-male fa-fw"></i>Quản Trị Admin</a>
                            </li>
                        }
                        <li id="trang quản trị">
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i>Trang quản trị tin tức<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="@Url.Action("TinTuc","Admin")">Tin Tức</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("LoaiTin","Admin")">Thể Loại</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("HinhAnh","Admin")">Hình Ảnh</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("QuangCao","Admin")">Biển Quảng Cáo</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        <li id="logout">
                            <a href="@Url.Action("Logout","Admin")"><i class="fa fa-circle-o-notch fa-fw"></i>Đăng Xuất</a>
                        </li>
                        
                        <!-- /.nav-second-level -->
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
        <div id="page-wrapper">
            <!-- /.row -->
            <div class="row">
                @RenderBody()
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/jquery/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.js"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="../vendor/metisMenu/metisMenu.min.js"></script>
    <script src="~/Content/vendor/metisMenu/metisMenu.js"></script>
    <!-- Morris Charts JavaScript -->
    <script src="../vendor/raphael/raphael.min.js"></script>
    <script src="~/Content/vendor/raphael/raphael.js"></script>
    <script src="../vendor/morrisjs/morris.min.js"></script>
    <script src="~/Content/vendor/morrisjs/morris.js"></script>
    <script src="../data/morris-data.js"></script>
    <script src="~/Content/data/morris-data.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="../dist/js/sb-admin-2.js"></script>
    <script src="~/Content/dist/js/sb-admin-2.js"></script>

</body>
</html>
<noembed>