<li>
    <figure class="bsbig_fig  wow fadeInDown">
        <a class="featured_img" href="@Url.Action("Chitiettin", "TinTuc", new { id = @Model.BangTinID })"> <img src="~/HinhTin/@Model.AnhBiaTin" alt="@Model.TieuDe"> <span class="overlay"></span> </a>
        <figcaption> <a href="@Url.Action("Chitiettin", "TinTuc", new { id = @Model.BangTinID })">@Model.TieuDe</a> </figcaption>
        <p>@Model.MoTa</p>
    </figure>
</li>
